<%= form_for(trail) do |f| %>
  <% if trail.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(trail.errors.count, "error") %>
      prohibited this project from being saved:</h2>

      <ul>
        <% trail.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <p>
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </p>

  <p>
    <%= f.label :description %><br>
    <%= f.text_field :description %>
  </p>

    <%= f.fields_for :location do |location_form| %>
    <p>
      <%= location_form.label :lat_long_coords %><br />
      <%= location_form.text_field :lat_long_coords %></br>
    </p>
    <p>
      <%= location_form.label :state %>
      <%= location_form.select :state, @states %>
    </p>
    <% end %>
  </p>

  <p>
    <%= f.label :path %><br>
    <%= f.text_field :path %>
  </p>

  <p>
    <h3>Images:</h3>
    <ol>
      <%= f.fields_for :images do |images_form| %>
        <li>
        <%= images_form.label :url %>
        <%= images_form.text_field :url %>
        </li>
      <% end %>
    </ol>
  </p>

  <%= link_to "Cancel", cancel_path %>
  <%= f.submit "#{action} Trail" %>
<% end %>
