<header>
  <h1>Trails</h1>

  <ul class="actions">
    <% if user_signed_in? %>
      <li><%= link_to "Add new trail", new_trail_path,
          class: "new" if current_user.admin? %></li>
    <% end %>
  </ul>
</header>
<%= render "states", states: @states %>


<% if @state %>
  <h3>State: <%= @state %> </h3>
<% end %>

<div id="trails">
  <% @trails.each do |trail| %>
      <h2><%= link_to trail.name, trail_path(trail) %> </h2>
      <% if trail.images.any? %>
        <p><%= image_tag trail.images.first.url, size: "400x300" %></p>
      <% end %>
      <p>Trail Location: <%= trail.location.state %></p>
  <% end %>
</div>
