<h2><%= @trail.name %></h2>
<%= link_to "Edit Trail", edit_trail_path(@trail) %>
<%= link_to "All Trails", trails_path %>

<p>
  <h3>Trail Location</h3>
  <%= link_to @gmap.map_url, target: "_blank" do %>
    <%= image_tag @gmap.map_with_marker_uri, id: "map_#{@trail.id}" %>
  <% end %>

  <p>Latitude, longitude: <%= @trail.location.lat_long_coords %> </p>

</p>

<p>State: <%= @trail.location.state %></p>

<% if @trail.gpx_file_path %>
  <p>GPX path: <%= @trail.gpx_file_path %></p>
<% end %>

<% if @trail.route %>
  <p>
    <h3>Trail Path</h3>
    <%= image_tag @gmap.map_with_path_uri, id: "map_path_#{@trail.id}" %>
  </p>
<% end %>

<p><%= @trail.description %> </p>

<% @trail.images.each do |image| %>
  <p><%= image_tag image.url %></p>
<% end %>
