<h2><%= @trail.name %></h2>
<% if user_signed_in? %>
    <%= link_to "Edit Trail", edit_trail_path(@trail) if current_user.admin? %>
<% end %>
<%= link_to "All Trails", trails_path %>

<p>Latitude, longitude: <%= @trail.location.lat_long_coords %> </p>

<p>State: <%= @trail.location.state %></p>

<% if @trail.gpx_file_path %>
  <p>GPX path: <%= @trail.gpx_file_path %></p>
<% end %>

<% if @trail.route %>
  <p>
    <h3>Trail Map</h3>
    <div id="map" data-route="<%= @trail.route %>"></div>
  </p>
<% end %>

<p><%= @trail.description %> </p>

<% @trail.images.each do |image| %>
  <p><%= image_tag image.url %></p>
<% end %>
