<header>
  <h1><%= @trail.name %></h1>

  <ul class="actions">
    <% if user_signed_in? %>
      <li><%= link_to "Edit Trail",  edit_trail_path(@trail),
          class: "edit" if current_user.admin? %></li>
    <% end %>
    <li><%= link_to "All Trails", trails_path, class: "list" %></li>
  </ul>
</header>

<table id ="attributes">
  <tr>
    <th>Author:</th>
    <td><%= @trail.author.email %></td>
  </tr>
  <tr>
    <th>Created:</th>
    <td><%= time_ago_in_words(@trail.created_at) %> ago</td>
  </tr>
</table>

<p>Latitude, longitude: <%= @trail.location.lat_long_coords %> </p>

<p>State: <%= @trail.location.state %></p>

<% if @trail.gpx_file_path %>
  <p>GPX path: <%= @trail.gpx_file_path %></p>
<% end %>

<% if @trail.tags.any? %>
  <div id="tags">
    <%= render @trail.tags, trail: @trail %>
  </div>
<% end %>

<% if @trail.route %>
  <p>
    <h3>Trail Map</h3>
    <div id="map" data-route="<%= @trail.route %>"></div>
  </p>
<% end %>

<p><%= @trail.description %> </p>

<% @trail.images.each do |image| %>
  <p><%= image_tag image.url %></p>
<% end %>
