<!DOCTYPE html>
<html>
<head>
  <title>DustyFeetAdventures</title>
  <%= csrf_meta_tags %>
  <%= action_cable_meta_tag %>

  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>

  <script src="https://maps.googleapis.com/maps/api/js?key=<%=Rails.configuration.x.google_js_api_key%>&callback=initMap"
        async defer></script>
</head>
<body>
<% if user_signed_in? %>
  <div>
    <p>Signed in as <%= current_user.email %></p>
    <p><%= link_to "Sign out", destroy_user_session_path, method: :delete %></p>
  </div>
<% end %>

<ul>
  <% unless user_signed_in? %>
  <li class="<%= "active" if current_page?("/users/sign_up") %>">
    <%= link_to "Sign up", new_user_registration_path %>
  </li>
  <li class="<%= "active" if current_page?("/users/sign_in") %>">
    <%= link_to "Sign in", new_user_session_path %>
  </li>
  <% end %>
</ul>

<% flash.each do |key, message| %>
  <div class="<%= key %>"><%= message %></div>
<% end %>

<%= yield %>

</body>
</html>
