<!DOCTYPE html>
<html>
<head>
  <title>DustyFeetAdventures</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<ul>
  <li class="<%= "active" if current_page?("/users/sign_up") %>">
    <%= link_to "Sign up", new_user_registration_path %>
  </li>
</ul>

<% flash.each do |key, message| %>
  <div class="#{key}"><%= message %></div>
<% end %>

<%= yield %>

</body>
</html>
